      @import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap");
      * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      body {
        
        box-sizing: border-box;
        color: rgb(0, 0, 0);
      }
      nav {
        position: sticky;
        height: 35px;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #15202b;
        padding-right: 4rem;
        padding-left: 6rem;
        gap: 10px;
        @media screen and (max-width: 800px) {
          padding-right: 1rem;
          padding-left: 1rem;
        }
      }
      .logo a {
        color: white;
        text-decoration: none;
        font-family: "BBH Bogle", sans-serif;
        font-weight: 200;
        font-size: 1.5rem;
      }
      .logo a:hover {
        color: #3f8c4b;
      }

      .logo {
        margin-right: auto;
        font-size: 1.5rem;
      }
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        align-items: center;
      }

      ul li a {
        text-decoration: none;
        color: white;
        padding: 8px 10px;
        border-radius: 4px;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
      ul li:hover {
        background-color: gray;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
      }
      .button a {
        text-decoration: none;
        color: white;
      }
      button {
        padding: 8px 6px;
        width: 100px;
        border-radius: 0.5rem;
        border: 1px solid #3f8c4b;
        background-color: #3f8c4b;
        color: white;
        font-size: medium;
        gap: 5px;
        margin-left: 10px;
      }
      button a {
        color: white;
        text-decoration: none;
      }
      #openSidebar,
      #closeSidebar {
        display: none;
        color: white;
      }
      ul.show {
        left: 0;
      }
      @media screen and (max-width: 800px) {
        ul {
          position: fixed;
          top: 0;
          left: -100%;
          width: min(15em, 100%);
          height: 100vh;
          z-index: 10;
          flex-direction: column;
          background-color: #15202b;
          padding-top: 4rem;
          transition: left 300ms ease-out;
        }
        ul li:hover {
          width: 100%;
          border-radius: 0;
          padding: 0.5rem 0;
          text-align: center;
          border-radius: 0;
        }
        #closeSidebar {
          display: block;
          margin-left: auto;
          margin-bottom: 20px;
          margin-right: 30px;
          cursor: pointer;
        }
        #openSidebar {
          display: inline;
          cursor: pointer;
        }
      }
      .container-main {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        padding: 2rem;
        grid-template-rows: 1fr;
      }

      .header {
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
      }
      .header h2 {
        font-size: 2rem;
        font-weight: 600;
      }
      @media screen and (max-width: 950px) {
        .container-main {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
          align-items: center;
          gap: 2rem;
          justify-items: center;
        }
        .contain-service {
          flex-direction: column;
          gap: 3rem;
        }
        .hero-img {
          width: 100%;
        }
      }



.container {
  max-width: 1100px;
  margin: 3rem auto;

}

.header h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.header p {
  color: #666;
  margin-bottom: 30px;
}


.content {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
}

.column {
  flex: 1;           
  min-width: 300px;  
}


.input-field {
  width: 100%;
  padding: 15px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box; 
}




.sidebar {
  background-color: #e6e6e6;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: inline-block;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}


.button-row {
  width: 100%;
  padding:2rem ;
}


.submit-btn {
  background-color: #418b4c;
  color: white;
  border: none;
  padding: 10px 0px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;

}


@media screen and (max-width: 800px) {
  .column {
    flex: 100%; 
  }
  
  .header {
    text-align: center;
  }
  
  .submit-btn {
    width: 100%; 
  }
}




  footer {
      height: auto;
      background-color: #15202b;
      color: white;
      padding: 3.5rem;
    }
    .footer-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 20px;
      text-align: left;
    }
    .footer-content {
      display: flex;
      justify-content: space-around;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    footer h2 {
      margin-bottom: 2rem;
    }
    .footer-list a {
      text-decoration: none;
      margin-top: 2rem;
      color: white;
    }
    .footer-list a:hover {
      color: #3f8c4b;
    }
    .copyright {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .footer-logo {
      display: flex;
      align-self: flex-end;
      margin-top: -1rem;
    }
    .logo a {
      color: white;
      text-decoration: none;
      font-family: "BBH Bogle", sans-serif;
      font-weight: 200;
      font-size: 1.5rem;
    }
    .logo a:hover {
      color: #3f8c4b;
    }

    .logo {
      margin-right: auto;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 896px) {
      .copyright {
        display: block;
      }

      .footer-logo {
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
      }
    }
    @media screen and (max-width: 780px) {
      .footer-content {
        flex-direction: column;
        gap: 2rem;
        margin-left: 0;
        margin-right: 0;
      }
      footer h2 {
        text-align: center;
        display: block;
      }
      .copyright {
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .footer-logo {
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
      }
    }