@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 200vh;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  margin: 0;
}
nav {
  position: sticky;
  font-size: 1.1rem;
  height: 35px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #15202b;
  padding-right: 4rem;
  padding-left: 6rem;
  z-index: 11;
  gap: 10px;
  @media screen and (max-width: 800px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.logo a {
  color: white;
  text-decoration: none;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 200;
  font-size: 1.7rem;
}
.logo a:hover {
  color: #3f8c4b;
}

.logo {
  margin-right: auto;
  font-size: 1.5rem;
}
ul {
  list-style: none;
  display: flex;
  font-size: 1.1rem;
  gap: 20px;
  align-items: center;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
ul li:hover {
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.button a {
  text-decoration: none;
  color: white;
}
button {
  padding: 8px 6px;
  width: 100px;
  border-radius: 0.5rem;
  border: 1px solid #3f8c4b;
  background-color: #3f8c4b;
  color: white;
  font-size: medium;
  gap: 5px;
  margin-left: 10px;
}
button a {
  color: white;
  text-decoration: none;
}
#openSidebar,
#closeSidebar {
  display: none;
  color: white;
}
ul.show {
  left: 0;
}
@media screen and (max-width: 800px) {
  ul {
    position: fixed;
    top: 6%;
    /* bottom:10%; */
    left: -100%;
    width: min(15em, 100%);
    height: 100vh;
    font-size: 1.1rem;
    z-index: 10;
    flex-direction: column;
    background-color: #15202b;
    padding-top: 4rem;
    transition: left 300ms ease-out;
  }
  ul li:hover {
    width: 100%;
    border-radius: 0;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 0;
  }
  #closeSidebar {
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 30px;
    cursor: pointer;
  }
  #openSidebar {
    display: inline;
    cursor: pointer;
  }
}
footer {
  background-color: #15202b;
  color: white;
  padding: 3.5rem;
}
.footer-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  text-align: left;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
footer h2 {
  margin-bottom: 2rem;
}
.footer-list a {
  text-decoration: none;
  margin-top: 2rem;
  color: white;
}
.footer-list a:hover {
  color: #3f8c4b;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-logo {
  display: flex;
  align-self: flex-end;
  margin-top: -1rem;
}
@media screen and (max-width: 896px) {
  .copyright {
    display: block;
  }
  .footer-logo {
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 780px) {
  .footer-content {
    flex-direction: column;
    gap: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
  footer h2 {
    text-align: center;
    display: block;
  }
  .copyright {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-logo {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}
.sidebar {
  height: auto;
  width: 25%;
  margin-left: 3rem;
  margin-right: 3rem;
}
.main {
  display: flex;
  gap: 1rem;
}
.middle {
  width: 45%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 3rem;
}
.middle h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}
.middle a {
  text-decoration-color: white;
  color: black;
}
.course {
  border: 1.5px solid black;
  padding: 1.5rem;
  font-size: 1.15rem;
  width: 85%;
  height: 23px;
  border-radius: 1.1rem;
  margin-bottom: 1.5rem;
  /* width: 80%; */
}
.course:hover {
  background-color: #fafafa;
}
.middle a:hover {
  text-decoration-color: white;
}
/* content part */
.sticky {
  width: 19.5rem;
  height: 400px;
  position: sticky;
  top: 90px;
  /* margin-left: 5.5; */
  margin-left: 20%;
  border: 1.7px solid black;
  border-radius: 1rem;
  background-color: #fafaf9;
  padding-top: 1rem;
  z-index: 10;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.btn-back {
  padding: 0.8rem;
  margin: 1.5rem 0.5rem 1.5rem 3rem;
  font-size: 16px;
  background-color: #3f8c4b;
  color: white;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.btn-back:hover {
  transform: translate(-5px);
}
.sticky h3 {
  padding-left: 1.5rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}
.sticky a {
  list-style: none;
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  height: 20%;
}
.sticky a:hover {
  /* background-color: #a8a8af; */
  background-color: #d6d6d6;
  width: 100%;
  border-radius: 0rem;
  cursor: pointer;
}
#stand {
  background-color: #3f8c4b;
  color: white;
}

.sticky a {
  text-decoration: none;
  color: black;
}
.sticky span {
  padding-left: 1.5rem;
}
#last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
@media screen and (max-width: 1080px) {
  .sticky {
    width: 17.5rem;
    margin-left: 8%;
    border: 1px solid black;
  }
  .sticky a {
    font-size: 1.1rem;
    height: 10%;
    padding: 0.8rem 0rem;
  }
  .sticky h3 {
    padding-left: 1.2rem;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
  .sticky span {
    padding-left: 1.3rem;
  }
  .btn-back {
    margin: 1.3rem 2rem;
    padding: 0.6rem;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    margin-left: 2rem;
  }
  .sticky {
    width: 13rem;
    margin-left: 1rem;
    height: 300px;
  }
  .sticky h3 {
    padding-left: 1rem;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
  }
  .sticky a {
    padding: 0.95rem 0 0.3rem 0;
  }
  .sticky span {
    padding-left: 1.1rem;
  }
  .btn-back {
    margin: 1.3rem 1.3rem;
    font-size: 16px;
  }
  .middle h2 {
    font-size: 1.2rem;
  }
  .middle {
    padding: 1rem 3rem;
    width: 85%;
  }
  .course {
    border: 1.2px solid black;
    padding: 1rem 1.2rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 525px) {
  .sidebar {
    margin-left: 1rem;
  }
  .main {
    flex-direction: column;
  }
  .sticky {
    width: 80vw;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .sticky a {
    text-align: center;
  }
  .btn-back {
    margin: 0.35rem 0.35rem;
  }
}
